* {
    background-color: antiquewhite;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-size: x-large;
}

.action,
.extras,
.text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin: 35px;
}

button {
    border-radius: 5px;
    border-color: brown;
    width: 200px;
    height: 60px;
    padding: 20px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Enter,
#Phone-number {
    width: 70px;
    height: 20px;
    margin: 20px;
    font-size: 15px;
}

#Phone-number {
    width: 150px;
    height: 30px;
}

#reason {
    font-size: 18px;
}