* {
    background-color: antiquewhite;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-size: x-large;
}

#iconPageHeader {
    margin-bottom: 10px;
}

.action,
.extras,
.text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin: 35px;
}

button {
    border-radius: 5px;
    border-color: brown;
    width: 200px;
    height: 60px;
    padding: 20px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#Enter,
#Phone-number {
    width: 70px;
    height: 20px;
    margin: 20px;
    font-size: 15px;
}

#Phone-number {
    width: 150px;
    height: 30px;
}

#reason {
    font-size: 18px;
}

.icons-selection {
    display: flex;
    flex-shrink: initial;
    flex: row;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    padding: 10px;
}

.icon {
    margin: 50px;
    cursor: pointer; /* Changes the mouse to a hand when hovering */
    transition: transform 0.2s; /* Smooth pop effect */
}

.icon:hover {
    transform: scale(1.4); /* Makes the fruit slightly bigger when hovered */
}

.icon:active {
    border: 2px solid brown; /* Brief border when clicked */
    border-radius: 10px;
}
#finishBtn {
    background-color: brown;
    color: white;
    margin-top: 30px;
}

#phone-instructions {
    margin-bottom: 0px;
}

#phone-format {
    font-size: 20px;
    margin: 0px;
}