h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

img {
    display: flex;
    justify-content: center;
}

button {
    border-radius: 5px;
    border-color: brown;
    width: 150px;
    height: 60px;
    padding: 20px;
    font-size: large;
}